* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
  background-image: url('./assets/image/Background.jpg');
  background-repeat:no-repeat ;
}

img {
  border-radius: 10px;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}


span {
  color: #DEAB29;
}

h2 {
  color: #EBEBE3;
}

.btn {
background-color: #CBCCCC;
margin-right: 8px;
border-radius: 10;
}



