<div class="row">
  <div class="col">
    <div class="btn-group  btn-group-lg" role="group" aria-label="Basic example">
      <button type="button"
              class="btn btn-secondary"
              *ngFor="let menu of menus; let i = index;" (click)="getProducts(i)">
        {{menu.nombre}}
      </button>
    </div>


      <div *ngFor="let product of products; let i = index;" (click)="attach(i)">
        <div class="card-container">
          <a class="card">
            <div>
              <img width="120px" src={{product.image}} />
              <p>{{product.food}} {{product.price}} $</p>
            </div>
          </a>
        </div>
      </div>

