<h2 *ngIf="look"> MENU <span>|</span> DESAYUNOS</h2>
<h2 *ngIf="look1"> MENU <span>|</span> PASTELES</h2>
<h2 *ngIf="look2"> MENU <span>|</span> BEBIDAS</h2>
<h2 *ngIf="look3"> MENU <span>|</span> TÉA</h2>
<br>
<div class="part-top">
<!--<button class="btnDesayuno" routerLink='/' routerLinkActive="router-link-active">Desayuno</button>-->
  <button class="btn btn-warning"(click)="look=!look"routerLinkActive="router-link-active">Desayuno</button>
  <button class="btn btn-warning"(click)="look1=!look1"routerLinkActive="router-link-active">Pasteles</button>
  <button class="btn btn-warning"(click)="look2=!look2"routerLinkActive="router-link-active">Jugos</button>
  <button class="btn btn-warning"(click)="look3=!look3"routerLinkActive="router-link-active">Téa</button>
</div>

<div class="menu-container">
  <!--Desayunos-->
  <div class="part-left">
    <div class="desayuno" role="alert"*ngIf="look">

    <div *ngFor= "let item of result;index as i" (click)="press(item)">
      <div class="card-container">
        <a class="card">
          <div>
          <img width="120px" src={{item.image}}/>
          <p>{{item.food}} {{item.price}}s/</p>
          <button class="btn" type="submit"></button>
        </div>
        </a>
      </div>
    </div>

    </div>
  </div>
   <!--
    <textarea type="hidden" class="form-control" name="name" [(ngModel)]="item.name"cols="30" rows="10" value="1er Desayuno"></textarea>

    <div class="alert alert-warning" role="alert"*ngFor="let item of items">
  {{item.name}} - {{item.total}}
<div class="float-right" (click)="clean(item)"><i class="far fa-trash-alt"></i></div>
</div>
     <input
      type="text"
      name="name" class="form-control"
      [(ngModel)]="item.name" [(ngModel)]="item.total">
   [(ngModel)]="item.name" [(ngModel)]="item.total"
   <a name="name" [(ngModel)]="item.name" >1er Desayuno</a>
 <a [(ngModel)]="item.total"><h6>4 CLP</h6></a>

  </div>-->

  <!--Pasteles-->
  <div class="card-container" *ngIf="look1">

  </div>

  <!--Jugos-->
  <div class="card-container" *ngIf="look2">

  </div>
 <!--Tea-->
 <div class="card-container" *ngIf="look3">

</div>


</div>
