<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div routerLink='/ingreso'>
  <img width="68" alt="moon-gold Logo" src="../assets/image/moon-gold.png"/>
</div>
  <button class="btn btn-mesero" routerLink='/menu'>Menú</button>
  <button class="btn btn-mesero" routerLink='/cocina'>Cocina</button>
  <button class="btn btn-mesero" routerLink='/cocina'>Ordenes Listas</button>
</div>

<br> <br> <br>
<h2 *ngIf="out"> HOME <span>|</span> INGRESO</h2>

<button class="btn btn-mesero" (click)="out=!out" routerLink='/menu'>Mesero</button>
<button class="btn btn-cocina"routerLink='/cocina'>Cocina</button>


<router-outlet></router-outlet>

