<app-ingreso></app-ingreso>
<h2> COCINA <span>|</span> OREDENES EN ESPERA</h2>
<!--<h2> COCINA <span>|</span> ORDENES LISTAS</h2>-->

<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-warning ">Cliente:
  <p>Mesa:</p>
</div>
  <div class="card-body">
    <h5 class="card-title">Orden:</h5>
    <p class="card-text">Feche y hora:</p>
    <p>Tiempo de espera</p>
    <i class="far fa-clock"></i>
  </div>

  <div class="card border-bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header bg-warning  border-bg-secondary">Cliente:</div>
    <div class="card-body text-white bg-secondary">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer bg-secondary border-bg-secondary">Detalle del pedido:
      <i class="fas fa-check-circle"></i>
    </div>
  </div>
