<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <td colspan="6">
        <div class="data-row">
          <form class="info-row">
            <h5>Cliente:</h5>
            <input
             type="text" placeholder="cliente"
             name="client" class="clients" >
             <h5>Mesa:</h5>
            <input
             type="number" name="tables" class="tables" >
          </form>
        </div>
      </td>
    </tr>
    <tr>
      <th colspan="2" scope="col">Cantidad</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr scope="col"*ngFor="let product of selectedProduct">
      <td></td>
      <th><i class="fas fa-minus-circle"></i></th>
      <td>{{product.food}}</td>
      <td>{{product.price}}</td>
      <td><div class="float-right" (click)="eliminar(item)"><i class="far fa-trash-alt"></i></div></td>
    </tr>

    <tr>
      <th colspan="2" scope="col">Total</th>
      <th scope="col">s/</th>
      <th colspan="2" scope="col">CLP</th>
    </tr>

    <tr>
      <td colspan="6">
        <div></div>
        <button class="btn btn-warning" type="submit">Confirmar pedido:</button>
      </td>
    </tr>
  </tbody>
</table>
