<div class="toolbar" role="banner">
  <div routerLink='/ingreso'>
  <img width="68" alt="moon-gold Logo" src="../assets/image/moon-gold.png"/>
</div>
  <button class="btn colort"  routerLinkActive="active" routerLink='/menu'>Menú</button>
  <button class="btn colort" routerLinkActive="active " routerLink='/cocina'>Cocina</button>
  <button class="btn colort" routerLinkActive="active" routerLink='/waiter'>Ordenes Listas</button>
  <button class="btn colort" routerLinkActive="active" routerLink='/check'>Entregas del día</button>
</div>
<br>
<br>
<br>
<br>

